# node_modules
/node_modules

# pnpm files
*pnpm-lock.yaml
*pnpm-workspace.yaml

# .env files
.env
.env.local
.env.production
.env.development

# Build output
/out
/dist-main
/dist-preload
/dist-renderer

# IDE
.vscode
.idea
*.swp
*.swo
*~
.DS_Store